<div style="background-color: #ccc; width: 100%;">
	<h2 style="text-align: center;">Teste de E-mail HTML</h2>
</div>
<div style="background-color: #D4D4BF; width: 100%">
	<p>Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico. Este é um email utilizando HTML, Lorem Ipsum. Blá blá blá. Parangarico.</p>
</div>
<div style="background-color: #737B7F; width: 100%">
	<h2 style="text-align: center;">Rodapé</h2>
</div>	